*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import "partials/colors";
@import "partials/typography";

body {
    text-align: center;
}

#hero {
    max-width: 592px;
    margin: 0 auto 72px;

    img {
        padding-bottom: 72px;
    }
}

span {
    color: $emphasis;
}

a {
    text-decoration: none;
    color: $emphasis;
}

.line {
    max-width: 568px;
    height: 0;
    margin: 0 auto 8px;
    border-top: 1px solid $paragraph;
}

footer {
    a + a {
        margin-left: 28px;
    }
}

#balls{
    position: fixed;
    bottom:0;
    right: 0;
}