*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import "partials/colors";
@import "partials/typography";

body {
    text-align: center;
}

#hero {
    max-width: 592px;
    margin: 0 auto 72px;

    img {
        padding-bottom: 72px;
    }
}

span {
    color: $emphasis;
}

a {
    text-decoration: none;
    color: $emphasis;
}

footer {
    a + a {
        margin-left: 28px;
    }
}
